html {
    background-image: url("../img/darkish2.jpg");
    font-family: 'Oxygen', sans-serif;
    
}


body {
   
}
#nav { color: #FFF;
    padding: 10px;
    float align-self;
    
    
}
#header{
    border-bottom: 1px solid #000;
    padding: 0px;
    margin: 10px; 
    background-color: #eee;
}
.wrapper{
      display:grid;
      grid-template-columns: 30% 30% 30%;
      
      grid-column-gap:1em;
      grid-row-gap:1em;
      
      grid-gap:1em;
    
    }

    .wrapper > div{
      background:#eee;
      padding:1em;
    }
    .wrapper > div:nth-child(odd){
      background:#ddd;
    }

