html {
    background-image: url("../img/darkish2.jpg");
    font-family: 'Oxygen', sans-serif;
    
}


body { width 90%;
    margin: 0 auto;
    
   
}
#content {
    overflow: auto;
}
.info1, .info2, .info3 {
    width: 31.3%;
    float: left;
    margin: 1%;
}
.info3{
    margin-right: 0%;
}
.article {
    height: 10em;
    margin-bottom: 1em;
    background-color: #ddd;
}
#column { font color: white;
    background-color: #eee;
    float: right;
    padding: 5px;
    
}
#header{
    border-bottom: 1px solid #000;
    padding: 0px;
    margin: 10px; 
    background-color: #eee;
    
}